.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.example-full-width {
    width: 100%;
}

.example-full-row {
    width: 100%
}

.mat-form-field {
    margin: 10px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}