<div [@routerTransition]>


    <div class="row">
        <div class="col col-xs-12">
            <div class="card mb-12">
                <div class="card-header">
                    New Task
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <div class="example-container">
                            <mat-form-field>
                                <mat-select placeholder="Select Site Name" [(ngModel)]="siteName">
                                    <mat-option *ngFor="let site of siteList" value="{{site}}">{{site}}</mat-option>

                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="col-xs-12">
                                <input matInput placeholder=" Task Name" [(ngModel)]="taskName">
                            </mat-form-field>

                            <mat-form-field>
                                <mat-select placeholder="Select Task Category" [(ngModel)]="taskCat">
                                    <mat-option value="Power">Power</mat-option>
                                    <mat-option value="2G">2G</mat-option>
                                    <mat-option value="3G">3G</mat-option>
                                    <mat-option value="4G">4G</mat-option>
                                    <mat-option value="MicroWave">MicroWave</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder="Select Employee" [(ngModel)]="assignedTo">
                                    <mat-option *ngFor="let emp of empList" value="{{ emp }}">{{emp}}</mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>

                </div>
                <div class="card-footer ">
                    <button class="btn btn-info btn-sm " (click)="randomize() ">New Task</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="example-container ">


    <div class="col-xs-12">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </div>

</div>