<div [@routerTransition]>

    <div class="row">
        <div class="col col-xs-12">
            <div class="card mb-12">
                <div class="card-header">
                    Current Tasks
                </div>
                <div class="card-body">
                    <div [@routerTransition]>
                        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                    </div>

                    <div class="example-header">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                    </div>


                    <div class="example-container mat-elevation-z8">

                        <mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="select">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Select </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <input type="checkbox" name="vehicle" value="Bike" (click)="check(row)"> </mat-cell>
                            </ng-container>


                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Index </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="progress">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Task Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.progress}} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Task Description </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                            </ng-container>

                            <!-- Color Column -->
                            <ng-container matColumnDef="color">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow='90' aria-valuemin="0" aria-valuemax="100" [style.width.%]="row.color">
                                            {{row.color}}%
                                        </div>
                                    </div>

                                </mat-cell>
                            </ng-container>




                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="LoadTask(row)" style="cursor: pointer">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="isClicked">
        <div class="col col-xs-12">
            <div class="card mb-12">
                <div class="card-header">
                    Update Tasks
                </div>
                <div>
                    <mat-form-field>
                        <mat-select placeholder="Please Select Action" [(value)]="selected" (change)="onChange($event)">
                            <mat-option value="Update">None</mat-option>
                            <mat-option value="Update">Update</mat-option>
                            <mat-option value="Close">Close</mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="card-body ">
                    <table class="example-full-width " *ngIf="isClose" cellspacing="10 ">
                        <tr>
                            <mat-form-field>
                                <input matInput placeholder="Closing Status" value="Google " [(ngModel)]="closingStatus ">
                            </mat-form-field>
                        </tr>
                        <tr>
                            <button style="padding:10px" class="btn btn-success" (click)="onClose()">Close Task</button>
                        </tr>
                    </table>
                    <table class="example-full-width " *ngIf="isUpdate" cellspacing="10 ">

                        <tr>

                            <td class="example-full-row ">
                                <mat-form-field>
                                    <input matInput placeholder="Task Name " disabled value="Google " [(ngModel)]="TaskName ">
                                </mat-form-field>
                            </td>

                            <td class="example-full-row ">
                                <mat-form-field>
                                    <input matInput type="number " placeholder="Progress (0-100)% " [(ngModel)]="progress ">
                                </mat-form-field>
                            </td>
                            <td class="example-full-row ">
                                <!--<ng-select style="width:100%;padding: 10px " *ngIf="isloaded " [items]="emps1 " bindLabel="name " bindValue="name " placeholder="Select Owner " [(ngModel)]="emps ">
                                <ng-template ng-header-tmp>
                                    Task Owner
                                </ng-template>
                            </ng-select>-->
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="dp3 " placeholder="Due Date" disabled [(ngModel)]="duedate ">
                                    <mat-datepicker-toggle matSuffix disabled="false" [for]="dp3 "></mat-datepicker-toggle>
                                    <mat-datepicker disabled="false" #dp3></mat-datepicker>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Related PR " [(ngModel)]="PRnumber ">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="PR Status " [(ngModel)]="PRStatus ">
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Related PO " [(ngModel)]="PONumber ">
                                </mat-form-field>

                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Related PO " [(ngModel)]="POStatus ">
                                </mat-form-field>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Budget Line" [(ngModel)]="budgetline">
                                </mat-form-field>

                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Reserved Budget" [(ngModel)]="budgetreserved">
                                </mat-form-field>

                            </td>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Actual Budget" [(ngModel)]="actualbudget">
                                </mat-form-field>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput placeholder="Related Entities" [(ngModel)]="entityname">
                                </mat-form-field>

                            </td>
                            <td>
                                <button style="padding:10px; width:100%" class="btn btn-info" (click)="AddEntity()">Add Entity</button>

                            </td>
                            <td>
                                <mat-form-field *ngIf="isShown">
                                    <input matInput placeholder="Add Entities" disabled [(ngModel)]="entitiesvalues">
                                </mat-form-field>

                            </td>
                        </tr>
                        <tr>
                            <td colspan=100%>
                                <hr style="width: 100%">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field *ngFor="let item of myentitiesarray;let in=index " myentitiesarray class="example-full-width ">
                                    <input matInput disabled placeholder="Entity Name " [(ngModel)]="enitiesmodel[in].entityname ">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field *ngFor="let item of myentitiesarray;let in=index " myentitiesarray class="example-full-width ">
                                    <input matInput placeholder="Entity Update " [(ngModel)]="enitiesmodel[in].entityupdate ">
                                </mat-form-field>
                            </td>

                        </tr>
                        <tr>
                            <td colspan=100%> <button class="btn btn-success " style="width: 100% " (click)="UpdateTask() ">{{selected}}</button></td>
                        </tr>
                    </table>




                </div>
            </div>
        </div>
    </div>