<div [@routerTransition]>

    <div class="row">
        <div class="col col-xs-12">
            <div class="card mb-12">
                <div class="card-header">
                    Current Tasks
                </div>
                <div class="card-body">
                    <div [@routerTransition]>
                        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                    </div>

                    <div class="example-header">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                    </div>


                    <div class="example-container mat-elevation-z8">

                        <mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="select">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Select </mat-header-cell>
                                <mat-cell *matCellDef="let row"> <input type="checkbox" name="vehicle" value="Bike" (click)="check(row)"> </mat-cell>
                            </ng-container>


                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Index </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="progress">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Task Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.progress}} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Task Description </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                            </ng-container>

                            <!-- Color Column -->
                            <ng-container matColumnDef="color">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow='90' aria-valuemin="0" aria-valuemax="100" [style.width.%]="row.color">
                                            {{row.color}}%
                                        </div>
                                    </div>

                                </mat-cell>
                            </ng-container>




                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="LoadTask(row)" style="cursor: pointer">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="isClicked">
        <div class="col col-xs-12">
            <div class="card mb-12">
                <div class="card-header">
                    Update Tasks
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="example-full-width" cellspacing="10">
                            <tr>

                                <td>
                                    <mat-form-field>
                                        <input matInput placeholder="Task Name" disabled value="Google" [(ngModel)]="TaskName">
                                    </mat-form-field>
                                </td>

                                <td>
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Progress (0-100)%" [(ngModel)]="progress">
                                    </mat-form-field>
                                </td>
                                <!--<td >
                                    <!--<ng-select style="width:100%;padding: 10px" *ngIf="isloaded" [items]="emps1" bindLabel="name" bindValue="name" placeholder="Select Owner" [(ngModel)]="emps">
                                <ng-template ng-header-tmp>
                                    Task Owner
                                </ng-template>
                            </ng-select>
                                </td>-->



                                <td>
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="dp3" placeholder="Due Date" disabled [(ngModel)]="duedate">
                                        <mat-datepicker-toggle disabled matSuffix [for]="dp3"></mat-datepicker-toggle>
                                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td colspan=100%>
                                    <hr style="width: 100%">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <mat-form-field>
                                        <input matInput placeholder="Related PR" [(ngModel)]="PRnumber">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput placeholder="PR Status" [(ngModel)]="PRStatus">
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field>
                                        <input matInput placeholder="Related PO" [(ngModel)]="PONumber">
                                    </mat-form-field>

                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput placeholder="Related PO" [(ngModel)]="POStatus">
                                    </mat-form-field>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field>
                                        <input matInput placeholder="Budget Line" [(ngModel)]="budgetline">
                                    </mat-form-field>

                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput placeholder="Reserved Budget" [(ngModel)]="budgetreserved">
                                    </mat-form-field>

                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput placeholder="Actual Budget" [(ngModel)]="actualbudget">
                                    </mat-form-field>

                                </td>
                            </tr>
                            <tr>
                                <td colspan=100%>
                                    <hr style="width: 100%">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <mat-form-field *ngFor="let item of myentitiesarray;let in=index" myentitiesarray class="example-full-width">
                                        <input matInput disabled placeholder="Entity Name" [(ngModel)]="enitiesmodel[in].entityname">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field *ngFor="let item of myentitiesarray;let in=index" myentitiesarray class="example-full-width">

                                        <input matInput [matDatepicker]="dp4" placeholder="Due Date" disabled [(ngModel)]="enitiesmodel[in].entityduedate">
                                        <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                                        <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field *ngFor="let item of myentitiesarray;let in=index" myentitiesarray class="example-full-width">
                                        <input matInput placeholder="Entity Update" [(ngModel)]="enitiesmodel[in].entityupdate">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field *ngFor="let item of myentitiesarray;let in=index" myentitiesarray class="example-full-width">
                                        <input matInput [matDatepicker]="dp5" placeholder="Date of Update" disabled [(ngModel)]="enitiesmodel[in].dateofupdate">
                                        <mat-datepicker-toggle matSuffix [for]="dp5"></mat-datepicker-toggle>
                                        <mat-datepicker #dp5 disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </td>

                            </tr>
                            <tr>
                                <td colspan=100%>
                                    <hr style="width: 100%">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ng-select style="width:100%;padding: 10px" *ngIf="ispendingloaded" [items]="pendingchoices" bindLabel="name" bindValue="name" placeholder="Select Rspoonsible Devision" [(ngModel)]="pendingchoice">
                                        <ng-template ng-header-tmp>
                                            Select Rspoonsible Devision
                                        </ng-template>
                                    </ng-select>

                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput placeholder="Task To Delegate" [(ngModel)]="taskdelegate">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <button class="btn btn-warning" style="width: 100%" (click)="DelegateTo()">Delegate To</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan=100%>
                                    <div class="table-responsive" style="height: 250px">
                                        <table *ngIf="isPending">
                                            <tr *ngFor="let item1 of pendingArray;let in1 =index">
                                                <td *ngIf="isPending">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Pending Devision" disabled [(ngModel)]="pendingArray[in1].pendingon">
                                                    </mat-form-field>
                                                </td>

                                                <td *ngIf="isPending">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Assigned Task Start Date" disabled [(ngModel)]="pendingArray[in1].startdate">
                                                    </mat-form-field>
                                                </td>
                                                <td *ngIf="isPending">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Assigned Task End Date" disabled [(ngModel)]="pendingArray[in1].enddate">
                                                    </mat-form-field>
                                                </td>
                                                <td *ngIf="isPending">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Pending Task" disabled [(ngModel)]="pendingArray[in1].subtask">
                                                    </mat-form-field>
                                                </td>
                                                <td *ngIf="isPending">
                                                    <mat-form-field>
                                                        <input matInput placeholder="Pending Task" disabled [(ngModel)]="pendingArray[in1].result">
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            </tr>
                        </table>
                    </div>



                    <button class="btn btn-success" style="width: 100%" (click)="UpdateTask()">Update</button>
                </div>
            </div>
        </div>
    </div>
