<div [@routerTransition]>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</div>

<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>


<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Select </mat-header-cell>
            <mat-cell *matCellDef="let row"> <input type="checkbox" name="vehicle" value="Bike" (click)="check(row)"> </mat-cell>
        </ng-container>


        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="progress">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Task Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.progress}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Site Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="color">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.color}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="closing">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Closing Time </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.closing}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="test">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Assigned To </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.test}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action Taken </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer">
        </mat-row>
    </mat-table>
    <button class="btn btn-success" (click)="selectedRow()">Approve</button>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>